* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}

section{
  position:relative;
  width: 100%;
  height: 100%;
}

.home{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin:2%;
  weight:100%;
  height:100vh;
}

.header{
  font-family: 'Roboto Serif', serif;
  font-weight: 900;
  font-size: 3rem;
}

.description p{
  margin-top: 30%;
  padding:1rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;

}

.scroll{
  margin-top: 1%;
  padding:1rem;
  font-size: 2rem;
  font-weight: 400;

}


.container {
  display: flex;
  margin:5%;
}

.english {
  font-family: 'Roboto Serif', serif;
  font-weight: 900;
  font-size: 3rem;
  flex:50%;
  padding:2%;
  margin-top: 1%;
}

.arabic{
  flex: 50%;
  margin-left:50%;
  flex-direction: row-reverse;
  padding:2%;
  margin-top: 1%;

  cursor: pointer;


}
.arabic p{
  font-family: 'Roboto Serif', serif;
  font-weight: 900;
  font-size: 3rem;
}
.arabic img{
  display: none;
  float: right;
}

.explain{
  position: absolute;
  margin-top: 30%;
  flex-direction: row;
  padding:1rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;

}
