* {
    box-sizing: border-box;
    margin:0;
}

.row {
  position: relative;
  width: 100%;

}

.row [class^="col"] {
  float: left;
  margin: 0% 0%;
  min-height: 0.125rem;
}


.col-7{
  width: 58.33%;

}

.col-5{
  width:41.67%;
  background-color: #cccccc;


}


  .col-12 {
    width: 100%;
  }

  .col-4{
    width:33.33%;
    padding: .25em;
    
  }

  .row::after {
	content: "";
	display: table;
	clear: both;
}
